/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'appetiteregular';
  src: url("../fonts/appetite-webfont.eot");
  src: url("../fonts/appetite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite-webfont.woff") format("woff"), url("../fonts/appetite-webfont.ttf") format("truetype"), url("../fonts/appetite-webfont.svg#appetiteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capriolaregular';
  src: url("../fonts/capriola-regular-webfont.eot");
  src: url("../fonts/capriola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/capriola-regular-webfont.woff") format("woff"), url("../fonts/capriola-regular-webfont.ttf") format("truetype"), url("../fonts/capriola-regular-webfont.svg#capriolaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../scss/ss_rift.scss */
body {
  color: #61443e;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  background-color: #a6fbfa;
  margin: 0px;
  overflow: hidden;
}

/* line 14, ../scss/ss_rift.scss */
#info {
  color: #ffffff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}

/* line 21, ../scss/ss_rift.scss */
a {
  color: yellow;
}

/* line 23, ../scss/ss_rift.scss */
#oldie {
  background: #000032 !important;
  color: #fff !important;
}

/* line 28, ../scss/ss_rift.scss */
#btn-begin {
  padding: 20px;
  border: 1px solid #252525;
  width: 25%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  margin-top: -5%;
  top: 50%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 42, ../scss/ss_rift.scss */
.fullScreen {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

/* line 52, ../scss/ss_rift.scss */
#btn-begin:hover {
  border: 1px solid #00ade8;
  width: 30%;
  color: #00ade8;
  margin-left: -15%;
}

/* line 59, ../scss/ss_rift.scss */
#viewport {
  z-index: 0;
}

/* line 62, ../scss/ss_rift.scss */
#blood {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9999999 !important;
  opacity: 0.1;
  display: none;
  pointer-events: none;
}

/* line 75, ../scss/ss_rift.scss */
#info {
  padding: 10px;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 82, ../scss/ss_rift.scss */
#help-text H1 {
  font-size: 18px;
  margin-top: 15px;
}

/* line 88, ../scss/ss_rift.scss */
#help-text DIV {
  margin-bottom: 5px;
}

/* line 92, ../scss/ss_rift.scss */
#help-text DIV LABEL {
  display: inline-block;
  width: 160px;
}

/* line 97, ../scss/ss_rift.scss */
#help-text SECTION {
  margin-top: 20px;
}

/* line 102, ../scss/ss_rift.scss */
#generic_error,
#security_error {
  padding-top: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

/* line 110, ../scss/ss_rift.scss */
#toggle-render {
  cursor: pointer;
}
