@import "base";

body {
		color: #61443e;
		font-family:Monospace;
		font-size:13px;
		text-align:center;

		background-color: #a6fbfa;
		margin: 0px;
		overflow: hidden;
}

#info {
	color: #ffffff;
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}

a { color: yellow; }

#oldie {
		background:rgb(0,0,50) !important;
		color:#fff !important;
}

#btn-begin{
	padding: 20px;
	border: 1px solid #252525;
	width: 25%;
	cursor: pointer;
	position: absolute;
	left: 50%;
	margin-left: -12%;
	margin-top: -5%;
	top: 50%;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );

}

.fullScreen{
	@include transform(scale(2));
	position:absolute;
	top:25%;
	left:25%;
	width:50%;
	height:50%;
}


#btn-begin:hover{
	border: 1px solid $blue;
	width: 30%;
	color: $blue;
	margin-left: -15%;
}

#viewport{
	z-index: 0;
}
#blood{
	width:100%;
	height:100%;
	background-color:red;
	position:absolute;
	top:0%;
	left:0%;
	z-index: 9999999 !important;
	opacity: 0.1;
	display:none;
	pointer-events:none;
}

 	#info{
        padding:10px;
        color:#fff;
        position:absolute;
        background-color:rgba(0,0,0,0.4);
      }

      #help-text H1 {
        font-size:18px;
        margin-top:15px;

      }
      
      #help-text DIV{
        margin-bottom:5px;
      }

      #help-text DIV LABEL{
        display:inline-block;
        width:160px;
      }

      #help-text SECTION {
        margin-top:20px;
      }

      #generic_error,
      #security_error{
        padding-top:200px;
        width:500px;
        margin-left:auto;
        margin-right:auto;
        display:none;
      }

      #toggle-render{
      	cursor: pointer;
      }
