<div id="container"></div>
<!-- <div id="info">Steven Seagull : Rift Sea'ge - webgl - oculus rift <br />(left click: forward, right click: backward)</div> -->
<div id="info"><div class="button" id="toggle-render">toggle render mode</div> </div>